@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-slate-900;
  }
}

/* Custom transitions or special non-utility styles can go here */
.backdrop-blur-md {
  backdrop-filter: blur(12px);
}